body {
    background-image: url(./assets/bach.gif);
    background-size: cover;
}

.section1 {
    opacity: 0.9;
}

.how-it-works {
    width: 10%;
    height: 45px;
    opacity: 0.9;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .image {
      width: 200px;
      height: 200px;
  }
@media (max-width: 1024px)
{
        .how-it-works {
        width: 20%;
        height: 45px;
        opacity: 0.9;
    }
}

@media (max-width: 768px)
{

    .icons {
        float: right;
    }
    .how-it-works {
        width: 30%;
        height: 45px;
        opacity: 0.9;
    }
    
}

@media (min-width: 375px),
@media (max-width: 425px)
{
    .mobile-tab-nav {
        display: block;
    }

    .laptop-nav {
        display:none;
    }

    .how-it-works {
        width: 50%;
        height: 45px;
        opacity: 0.9;
    }

    .footer-tab {
        display: none;
    }

    .b1 {
        display: none;
    }

} 
